.App {
  text-align: center;
}
body {
  background-image: url("./components/images/background.jpg");
  background-color: rgb(46, 91, 226);
  background-size: cover;
  position: relative;
}
.row {
  max-width: 680px;
  margin: 40px auto;
  text-align: center;
  background-color: rgb(46, 91, 226);
  height: 690px;
  border-radius: 10px;
  border: 4px solid silver;
}
.sideBar {
  color: white;
  position: absolute;
  left: 40px;
  top: 0;
  height: 650px;
  width: 360px;
  border-radius: 10px;
  border: 4px solid silver;
  background-color: rgb(46, 91, 226);
  text-align: center;
  padding: 20px;
}
#mega {
  width: 85%;
}
#menu {
  width: 60%;
  margin-top: 15px;
}
#score {
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  text-shadow: 5px 5px darkslategray;
  font-size: 21px;
  line-height: 30px;
}
#scorebox {
  padding-top: 30px;
  text-align: left;
}
#bottom {
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  text-shadow: 5px 5px darkslategray;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  padding-top: 15px;

}